<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesi칩n</title>
    <link rel="stylesheet" href="/styles.css">



</head>
<body>
    
    <% 
        if(typeof username !== 'undefined'){%>
            <div>
                <div class="form-container">
                    <h1>Hola <%= username %></h1>
                    <p>Estas en el panel de administracion</p>
                    <button type="submit" id="close-session">Cerrar sesion</button>
                </div>
            </div>
            <%
        }
    %>

    <%  
        if(typeof username == 'undefined'){%>
            <div class="login-container">
                <h2>Iniciar Sesi칩n</h2>
                <form id="loginForm">
                    <input type="text" name="username" placeholder="Usuario" required>
                    <input type="password" name="password" placeholder="Contrase침a" required>
                    <button type="submit">Entrar</button>
                </form>
                <p id="message"></p>
            </div>
            <%
        }
    %>

    <script>
        document.getElementById('loginForm').addEventListener('submit', async function(e) {
            e.preventDefault();

            const formData = new FormData(this);
            const data = {
                username: formData.get('username'),
                password: formData.get('password')
            };

            const response = await fetch('/login', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            });

            const result = await response.json();
            document.getElementById('message').textContent = result.message;

            if (response.ok) {
                // Redirigir o mostrar mensaje
                window.location.href = "/protected"; // ejemplo de redirecci칩n
            }
        });

        document.addEventListener("DOMContentLoaded", () => {
                const closeBtn = document.getElementById('close-session');
                if (closeBtn) {
                    closeBtn.addEventListener('submit', async (e) => {
                        e.preventDefault();

                        const response = await fetch('/logout', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                        });

                        if (response.ok) {
                            window.location.href = "/login";
                        }
                    });
                }
            });
    </script>
</body>
</html>
